<!DOCTYPE html>
    <html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content    ">
            {{>header}}
            <p>This site is created by Danish Rehman. It uses mapboc.com and darksky api</p>
            <img class="portrait" src=/img/me.png>
        </div>
        
        
        {{>footer}}
    </body>

    </html>